@import './../global/Vars.scss' ;

.RegisterFormWrapper{
    margin: 15px 0;
    width: 100vw;
    background-color: white;
    height: auto;
    padding: 20px;
    hr{
        border: none;
    }
    .RegisterFormWrapper_title{
        color: $uma-button;
        font-size: 1.5rem;
        margin: 40px auto 20px auto;
        padding: 20px 0;
        background-color: white;
        font-weight: 900;
        border-bottom: 1px solid #F2F2F2;
    }
    .RegisterFormWrapper_subtitle{
        color: #000;
        margin: 0 auto;
        text-align: left;
        font-size: 1rem;
        font-weight: 400;
        line-height: 21px;
    }
    .RegisterFormWrapper_form{
        margin: 15px 0 ;
        display: flex;
        width: 100%;
        flex-direction: column;
        .dataCertificado{
            display: flex;
            justify-content: space-between;

            div{
                width: 48%;
                margin: 15px 0;
                color: $black;
                label{
                    color: $black;
                }
            input{
                text-align: center;
                width: 80%;
    margin: 0 5px;  
    padding: 10px;
    border: none ;
    border-radius: 6px;
    box-shadow: $select-shadow;
    width: 100%;
    outline: none;
            }
            
            }
        }
    }
}