@import '../index.scss';

.scheduleForm {
	width: 90%;
	margin: 25px auto;
	padding-bottom: 15vh;
	.scheduleForm__container {
		width: 100%;
		background-color: #fff;
		padding: 10px;
		border-radius: $regular-borders;
		margin-top: 25px;
		// border:1px solid black;
		box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.555), -1px -1px 1px rgba(128, 128, 128, 0.527);
		h5{
			text-align: center;
			color: $new_primary_color; 
			font-weight: bold;
		}
		
	
		
		.scheduleForm__container--input {
			width: 100%;
			// border:1px solid rgba(128, 128, 128, 0.479);
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding:5px;
			.dateInput{
				width:160px;
				text-decoration: none;
				color: gray;
			}
			.label{
				margin:0;
				width:300px;
			}
			&:not(:first-child) {
				margin-top: 15px;
			}
			input, select {
				border-top: none;
				border-right: none;
				border-left: none;
				// border-bottom: 1px solid rgba($color: #000000, $alpha: .4) ;
				background-color: transparent;
				&:focus {
					outline: none;
				}
			}
		}
		.scheduleForm__container--observations {
			width: 100%;
			textarea {
				width: 100%;
				height: 200px;
				border-radius: $regular-borders;
				padding: 15px;
			}
			h5 {
				text-align: center;
			}
		}
	}
}
.addButton{
	background:none;
	border:none;
	background: $new_primary_color;
	border-radius: 8px;
	padding:8px;
	color:white;
	cursor: pointer;

}