@import '../global/Vars.scss';

.transportDetails {
	position: relative;
	.transportDetails__backBtn {
		position: absolute;
		z-index: 2;

		a {
			color: $primary-blue;
		}
	}
	.transportDetails__map {
		height: calc(100vh - 6vh);
	}
	
	.transportDetails__container {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 20px;
		background: #fff;

		li {
			font-size: 0.9rem;

			@media screen and (max-width: 320px) {
				font-size: 0.7rem;
			} 
			
			span {
				font-weight: 600;
			}
		}
	}
}