@import '../../styles/user/_mixins.scss';
@import '../global/Vars.scss';

// Inputs 

.form {
    @include d-flex-center;
    flex-direction: column;
    position: relative;
    .form--label {
        position: absolute;
        left: 20px;
        pointer-events: none;
        color: $when-dark;
        top: 0;
        transition: 0.2s linear;
        transform: translateY(30px);
    }
    .form--eyePass {
        position: absolute;
        right: 30px;
        bottom: 10px;
    }
    .form--input {
        margin-top: 30px;
        width: 90%;
        border: none;
        border-bottom: 2px solid $uma-button;
        transition: 0.3s linear;
        &:focus {
            outline: none;
            border-bottom: 2px solid $uma-secondary;
            & +.form--label {
                transform: translateY(0);
            }
        }
    }
}

//Condition Buttons

.conditions {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    padding: 15px 5% 0 5%;
    :nth-child(1) {
        margin: 5px 0;
    }
}

// Buttons

.action-btn{
    width: 80%;
    height: 44px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: $uma-primary;
    color: $white-color;
    text-transform: uppercase;
    margin: 10px 0;
    cursor: pointer;
    &.white {
        background-color: $white-color;
        color: $uma-primary;
        box-shadow: 0px 2px 6px 3px rgba(73, 73, 73, 0.25);
    }
}


// Buttons login

.login__buttonGroup {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    &.column {
        flex-direction: column;
        align-items: center;
    }

    .login__button {
        margin: 0 15px;
        border: none;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $white-color;
        box-shadow: 0px 2px 5px 0 $lighter-grey;
        cursor: pointer;
        &.large {
            border-radius: 5px;
            width: 80%;
            height: 40px;
            margin-top: 12px;
            position: relative;
            p {
                margin: 0 10px;
                font-size: 16px;
            }
            img {
                width: 25px;
                position: absolute;
                left: 20px;
            }
            &:nth-child(3) { //El icono de Apple es mas grande que los demás
                img {
                    width: 30px;
                    bottom: 5px;
                }
            }
        }
        img {
            width: 30px;
        }
        &:nth-child(3) {
            img {
                width: 35px;
            }
        }
    }
}

// Texto y Link

.textAndLink {
    margin: 10% 0;
    color: $uma-primary;
    text-align: center;
    p {
        margin: 0;
    }
    a {
        font-weight: bold;
        border-bottom: 1px solid $uma-primary;
    }
}

.stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 50px 0;
    max-width: 80%;
    .step {
        text-align: center;
        position: relative;
        width: 80%;
        &::before, &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: $uma-input;
            top: 15px;
            left: 100%;
        }
        &::before {
            content: '';
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $uma-input;
            position: absolute;
            top: 13px;
        }
        &.complete::before, &.complete::after {
            background-color: $uma-primary;
        }
        &.circle::before {
            padding: 7px;
            top: 7px;
            border: 2px solid $uma-primary;
        }
        &:last-child::after {
            display: none;
        }
    }
}
  
  

