
@import '../index.scss';

.backButtonContainer {
   left: 0px;
   width: 90%;
   margin: 0 auto 0 31px;
   padding: 5px 10px;
   height: 45px;
   font-size: 33px;
   position: relative;
   top: 0px;
   a {
      color: $white-color;
      svg {
         margin: 0;
         padding: 0;
      }
   }
   a:hover {
      color: $white-color;
   }
}

