@import '../index.scss';

.coverage__container {

    .coverage__map {
        & > div {
            height: calc(100vh - 52px) !important;
        }

        .coverage__back {
            position: absolute;
            top: 70px;
            left: 5%;
            z-index: 1;
            background: none;
            border: none;
            color: $white-color;
            font-size: 1.4rem;
            line-height: 0;
            padding: 0;
            margin: 0;
            outline: none;
            background: $uma-primary;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
        }

        .coverage__card {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background: $white-color;
            border-radius: 50px 50px 0 0;
			box-shadow: 0px -9px 20px -3px rgba(126, 147, 163, 0.25);
            padding: 2rem 5%;
            
            .coverage__cardTitle {
                font-weight: 900;
				font-size: 24px;
				line-height: 1.6;
                color: $primary-color;
                text-align: center;
                margin-bottom: 30px;
            }

            .coverage__cardList {
                display: flex;
                flex-direction: column;
                align-items: center;

                .coverage__cardItem {
                    color: $real-black;
                    font-size: 18px;
                    line-height: 1.1;
                    margin-bottom: 24px;
                    display: flex;
                    align-items: center;
                    width: 170px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    span {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        box-shadow: 0px 2px 5px rgba(199, 199, 199, 0.14);
                        border-radius: 50%;
                        margin-right: 20px;
                    }

                    &.coverage__cardItem-con {
                        span {
                            background: rgba(0, 144, 66, 0.35);
                            // background: rgba(10, 109, 215, 0.35);
                            border: 1px solid rgba(10, 109, 215, 0.8);
                            border: 1px solid rgba(0, 144, 66, 0.8);
                        }
                    }

                    &.coverage__cardItem-sin {
                        span {
                            background: $white-color;
                            border: 1px solid rgba(0, 0, 0, 0.2);
                        }
                    }
                }
            }
        }
    }
}