@import '../index.scss';

.hisopado__container {
    margin: 20px auto;
    width: 90%;
    align-items: center;
    background: $white-color;
    border-radius: 1rem;
    box-shadow: 0px 4px 50px rgba(126, 147, 163, 0.25);

    .hisopado__img {
        width: 100%;
        filter: brightness(0.9);

        @media screen and (min-width: 769px) {
            display: none;
        }
    }

    .hisopado__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.9rem 2rem;
        border: none;
        background: $uma-pink;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        color: $white-color;
        font-weight: 900;
        font-size: 1.2rem;

        svg {
            font-size: 1.2rem;

            @media (max-width: 320px) {
                font-size: 1rem;
            }
        }

        @media (max-width: 320px) {
            font-size: 1rem;
        }
    }

    .hisopado__content {
        display: flex;
        align-items: center;
        padding: 1.5rem 1rem;

        .hisopado__info {
            padding-right: 1rem;
            margin-right: 1rem;
            flex: 3;
            position: relative;

            &.active__hisopado::after {
                content: '';
                height: 100%;
                width: 2px;
                background: $uma-primary;
                border-radius: 5px;
                position: absolute;
                right: 0;
                top: 0;
            }

            .hisopado__title {
                color: $uma-primary;
                font-weight: 600;
                line-height: 1.5rem;
                font-size: 1.3rem;

                @media (max-width: 320px) {
                    font-size: 1.3rem;
                    line-height: 1.5rem;
                }
            }

            .hisopado__text {
                color: $uma-primary;
                font-size: 1rem;
                line-height: 1.5rem;
                margin: 0;
                
                @media (max-width: 320px) {
                    font-size: 0.9rem;
                    line-height: 1.2rem;
                }
            }
        }

        .hisopado__price {
            flex: 1;

            p {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $uma-secondary;
                font-size: 14px;
                line-height: 1.1;

                span {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 1.5;
                }
            }
        }
    }

}

@import '../index.scss';

.all_hisopado__container {
    margin: 20px auto;
    width: 90%;
    align-items: center;
    background: $uma-pink;
    border-radius: 15px;
    box-shadow: 0px 4px 50px rgba(126, 147, 163, 0.25);
    position: relative;

    font-style: normal;
    font-weight: bold;
    font-size: $uma-font-size-regular;
    line-height: 22px;
    /* identical to box height */


    color: $white-color;

    .icon{
        margin-left: 30vw;
    }

    .all_hisopado__content {
        display: flex;
        align-items: center;
        padding: 20px 20px;
    }

}