@import '../index.scss';

.pillbox{
    background-color: $white-color;
    min-height: 100vh;
    .filterByTime__container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 0.8rem;
        color: $uma-text-secondary;
        margin-top: 2vh;
        p{

        }
        .clicked{
            color: $uma-primary;
            text-decoration: underline;
        }
    }

    .pillboxList__container{
        width: 90vw;
        .spinner__container{
            width: 85vw;
            display: flex;
            justify-content: center;
            margin-top: 10vh;
            margin-bottom: 10vh;
        }
        .pillboxReminder__header{
            display: flex;
            justify-content: space-between;
            font-size: 1.4rem;
            padding: 0vh 2vw;
            font-weight: bold;
        }
        .recipesList__container{
            display: flex;
            // justify-content: space-between;
            align-items: center;
            padding: 2vw;
            background: #FFFFFF;
            box-shadow: 0px 1px 14px rgba(126, 147, 163, 0.25);
            border-radius: 6px;
            margin: 3vh 0vw;
            max-height: 20vh;
            .pill_image{
                width: 100px;
                height: 120px;
                border-radius: 6px 0px 0px 6px;
                justify-self: flex-start;
            }
            .recipesListIndicator__container{
                display: flex;
                flex-direction: column;
                padding: 3vh;
                .item_medicine{
                    font-weight: bold;
                }
                .item{
                    margin: 0;
                    // padding-left: 2vw;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 24px;
                    color: #1E1E1E;
                    .element_icon{
                        margin-right: 2vw;
                    }
                }
            }
            .recipesListEditDelete__container{
                display: flex;
                align-items: center;
                width: 20vw;
                justify-content: space-between;
                font-size: 1.5rem;
                .edit__icon{
                    color: $uma-primary;
                }
                .delete__icon{
                    color: red;
                }
            }
        }
    }
    .pillListContainer{
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .dateTitle{
        color: $uma-primary;
        font-size: 1.5rem;
        font-weight: bolder;
        width: 90vw;
    }
    .progressTitle{
        font-weight: bold;
        width: 90vw;
        margin-top: 2vh;
    }
    .progressContainer{
        display: flex;
        justify-content: space-evenly;
        margin-top: 2vh;
        width: 90vw;
        height: 5vh;
        .progressBar{
            width: 60vw;
            margin-top: 0.5vh;
        }
        .progressText{
            display: flex;
            margin-left: 4vw;
            .blue{
                color: $uma-primary;
                font-weight: bold;
                margin-right: 2vw;
            }
        }
    }
    .pillbox__addContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        right: 10px;
        bottom: 30px;
            .pillbox__btnContainer {
                display: flex;
                flex-direction: column;
            
            .pillbox__addBtn {
                outline: none;
                border-radius: 50%;
                text-align: center;
                background-color: $shiny-blue;
                color: white;
                border: none;
                box-shadow: 0px 9px 20px -3px rgba(126, 147, 163, 0.25);
                height: 12vh;
                width: 20vw;
                p{
                    font-weight: 900;
                    font-size: 3rem;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                }
            }
            
            .pillbox__addMsg {
                color: $shiny-blue; 
                font-size: 0.9rem;
                text-align: center;
            }
        }
    }

    .detailContent__container{
        width: 100vw;
        display: flex;
        justify-content: center;
        .pillForm{
            width: 80vw;
            display: flex;
            flex-direction: column;
        }
        .modal__title{
            text-align: center;
        }
        .image__container{
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: center;
            .pill_image{
                height: 15vh;
            }
        }
        .inputText__container{
            label {
                color: $uma-text-secondary;
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                margin: 0 0;
                margin-top: 2vh;
            }
            input,
            select {
                display: block;
                width: 80vw;
                border: none;
                border-bottom: 0.12rem solid $uma-input;
                padding: 1.5rem 0.3rem 0.5rem;
                color: $uma-text;
                font-size: 0.9rem;
                background: none;
            }
        }
        .separator{
            width: 30vw;
        }
        .inputDate__container{
            margin: 2vh;
            display: flex;
            justify-content: space-around;
            label{
                width: 30vw;
            }
            input{
                width: 25vw;
            }
        }
        .inputTime__container{
            margin: 2vh;
            display: flex;
            justify-content: space-evenly;
            label{
                width: 30vw;
            }
            input{
                width: 30vw;
            }
        }
        .inputNumber__container{
            margin: 2vh;
            display: flex;
            justify-content: space-evenly;
            label{
                width: 30vw;
            }
            input{
                width: 30vw;
            }
        }
        .inputFreq__container{
            margin: 2vh;
            display: flex;
            justify-content: space-evenly;
            label{
                width: 30vw;
            }
            select{
                width: 30vw;
            }
        }
        .add-pill-shift-icon{
            margin: 2vh;
            display: flex;
            justify-content: center;
            .add-icon{
                color: $uma-primary;
                font-size: 1.3rem;
                margin-right: 3vw;
            }
        }
        .minus-icon{
            color: red;
            font-size: 1.3rem;
            margin-left: 3vw;
        }
        .save__button{
            margin-top: 3vh;
            background-color: $uma-primary;
        }
        .delete__button{
            background-color: red;
            margin-bottom: 3vh;
        }
        .doseDisplay{
            display: flex;
            justify-content: space-between;
            .hourList{
                display: flex;
                flex-direction: column;
            }
        }
        .daytime-selector{
            display: flex;
            justify-content: space-around;
            margin-top: 2vh;
            .day-input{
                width: 30vw;
            }
            .time-input{
                width: 20vw;
            }
        }
    }

    .createContent__container{
        width: 100vw;
        display: flex;
        justify-content: center;
        .pillForm{
            width: 80vw;
            display: flex;
            flex-direction: column;
        }
        .modal__title{
            text-align: center;
        }
        .image__container{
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: center;
            .pill_image{
                height: 15vh;
            }
        }
        .inputText__container{
            label {
                color: $uma-text-secondary;
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                margin: 0 0;
                margin-top: 2vh;
            }
            input,
            select {
                display: block;
                width: 80vw;
                border: none;
                border-bottom: 0.12rem solid $uma-input;
                padding: 1.5rem 0.3rem 0.5rem;
                color: $uma-text;
                font-size: 0.9rem;
                background: none;
            }
        }
        .separator{
            width: 30vw;
        }
        .inputDate__container{
            margin: 2vh;
            display: flex;
            justify-content: space-around;
            label{
                width: 30vw;
            }
            input{
                width: 25vw;
            }
        }
        .add-pill-shift-icon{
            margin: 2vh;
            display: flex;
            justify-content: center;
            .add-icon{
                color: $uma-primary;
                font-size: 1.3rem;
                margin-right: 3vw;
            }
        }
        .minus-icon{
            color: red;
            font-size: 1.3rem;
            margin-left: 3vw;
        }
        .save__button{
            margin-top: 3vh;
            background-color: $uma-primary;
        }
        .delete__button{
            background-color: red;
            margin-bottom: 3vh;
        }
        .doseDisplay{
            display: flex;
            justify-content: space-between;
            .hourList{
                display: flex;
                flex-direction: column;
            }
        }
        .daytime-selector{
            display: flex;
            justify-content: space-around;
            margin-top: 2vh;
            .day-input{
                width: 30vw;
            }
            .time-input{
                width: 20vw;
            }
        }
    }
}