@import '../../../styles/global/Vars.scss';
@import '../../../styles/global/Fonts.scss';

.mktHeader {
    width: 70%;
    background: $white-color;
    margin: 0 auto 3rem;
    padding: 2rem 1rem 1rem;
    border-radius: 2rem;
    box-shadow: 0px 4px 12px rgba(99, 99, 99, 0.15);

    h1 {
        text-align: center;
        font-size: 1.8rem;
        color: $uma-primary;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .price {
        color: $uma-secondary;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-weight: 800;
        font-size: 3.5rem;
        margin-bottom: 0.5rem;
        line-height: 1;
    }

    .text {
        color: $uma-text-secondary;
        font-weight: 700;
        font-size: 1.4rem;
        text-align: center;
    }
}