@import '../styles//global/Vars.scss';

#dossier {
	.dossier-att-info {
		.orderToPrint__bottomContainer--barcode {
			div {
				width: 100%;
				canvas {
					width: 100%;
				}
			}
		}
	}
}

.recipeToprint {
	width: 600px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 22px;
	padding: 0;
	.recipeToPrint__container {
		width: inherit;
		margin: 15px 0;
		&.logo_container {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-right: 0;
			margin: 10px auto;
		}
		.recipeToPrint__container--logo {
			width: 250px;
			margin-bottom: -10px;
		}
		&:nth-child(2) {
			margin: 0;
			padding-right: 0;
		}
		.recipeToPrint__container--title {
			padding: 0;
			margin: 0;
			text-align: center;
			font-size: 1.6em;
			margin-bottom: 50px;
		}
		.recipeToPrint__container--list {
			margin-top: 20px;
			font-size: 0.9em;
			padding-left: 20px;

			li {
				// &::before{
				//   content: "→";
				//   position: relative;
				//   right: 10px;
				//   bottom: 5px;
				// }
				// margin-top: 5px;
			}
		}
		.recipeToPrint__container--table {
			width: 100%;
			font-size: 0.75em;
			margin-top: 20px;
			thead {
				th {
					font-weight: bold;
				}
			}
			tbody {
				td {
					font-size: 1em;
				}
			}
		}
		.recipeToPrint__container--recipeItem {
			padding-left: 20px;
			margin-top: 10px;
			p {
				line-height: 20px;
				font-size: 0.8em;
			}
		}
	}
	.recipeToPrint__bottomContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		.recipeToPrint__bottomContainer--barcode {
			display: flex;
			flex-direction: column;
			text-align: center;
			margin-bottom: 20px;
			&:first-child {
				position: relative;
				right: 50px;
			}
			&:last-child {
				position: relative;
				left: 50px;
			}
			&.position_center {
				right: 0;
				left: 0;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.recipeToPrint__bottomContainer--doctorData {
			margin-top: 10px;
			font-size: 0.9em;
		}
		.recipeToPrint__bottomContainer--firm {
			img {
				width: 150px;
				height: 150px;
			}
		}
		.recipeToPrint__bottomContainer--mail {
			width: 100%;
			border-top: 1px solid rgba($color: #000000, $alpha: 0.35);
			padding-top: 25px;
			font-size: 1em;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.recipeToPrintUp {
	padding: 50px 100px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	.recipeToPrintUp__container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-top: 25px;
		&:last-child {
			display: flex;
			flex-direction: column;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0);
			width: calc(100vw - 190px);
		}
		.recipeToPrintUp__container--title {
			img {
				width: 200px;
				position: relative;
				bottom: 40px;
			}
		}
		.recipeToPrintUp__container--recipeData {
		}
		.recipeToPrintUp__containerBottom {
			width: inherit;
			display: flex;
			justify-content: space-between;
			&:first-child {
				margin-bottom: 100px;
			}
			.recipeToPrintUp__containerBottom--doctorData {
				&:last-child {
					position: relative;
					text-align: right;
				}
				img {
					position: absolute;
					bottom: 70px;
					right: 0;
					width: 150px;
					height: 150px;
				}
			}
			&:last-child {
				border-top: 1px solid #000;
				width: inherit;
				display: flex;
				justify-content: center;
				margin-bottom: 45px;
				padding-top: 25px;
				font-size: 30px;
			}
		}
	}
	p {
		padding: 0 !important;
		margin: 0 !important;
		font-size: 25px !important;
	}
}

.Break-Word {
	word-break: break-word;
}

#receta {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 0 2%;

	.dossier-att-info {

		.dossier-info {
			font-size: 18px;
			font-weight: bold;
		}
		.date-prescription {
			display: flex;
			justify-content: space-between;
		}
		.dossier-doc-info {
			font-size: 18px;
			font-weight: normal;
		}
		.doctor-signature {
			text-align: center;
		}

		.download-qr {
			text-align: center;
		}
	}

	.modal-medicacion {
		margin: 0 auto;
		width: 100%;
		padding: 15px 25px;
		box-shadow: 0px 2px 5px 0px #7E93A3;
		border-radius: 5px;  
		li {
			margin-top: 5px;
		}
	}

	ul {

		li {
			margin-top: 5px;
		}
	}

	.recipe-number {
		width: 100%;

		#barcodeRecipe {
			margin: 0 auto;
		}

	}

}

.download-order {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;

	.button-d {
		font-weight: bold;
		border: none;
		color: $white-color;
		width: 80%;
		height: 38px;
		background-color: $uma-primary;
		border-radius: 15px;
		margin-bottom: 15px;
		transition: 0.2s ease-in-out;
		
		&:hover {
			background-color: $secondary-background;
		}
	}

	.button-report {
		border: 2px solid $uma-primary;
		height: 38px;
		width: 80%;
		color: $uma-primary;
		font-weight: bold;
		margin: 0 auto;
		transition: 0.2s ease-in-out;
		cursor: pointer;

		&:hover {
			background-color: $uma-primary;
			color: $white-color;
		}
	}
}

.no-orders {
	text-align: center;
	margin: 50px 20px;
	font-weight: bold;
}
