
@import './global/Vars.scss';
@import './global/Fonts.scss';

.profile-container {
   width: 100%;

   .profile-top-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px;
      svg {
         color: $uma-text !important;
      }
      .edit-icons {
         color: $uma-primary;
         background: $white-color;
         box-shadow: $main-shadow;
         padding: 3px 6px;
         border-radius: 4px;
         small {
            font-weight: bold;
            margin-right: 5px;
         }
      }

   }
   
   .btn-edit {
      display: block;
      margin-left: auto;
      color: $secondary-color;
      font-size: 1.5rem;
      background: #fff;
      box-shadow: $dark-shadow;
      border-radius: 4px;

      &.pic {
         position: absolute;
         top: 0;
         right: 0;
      }
      &.personal {
         position: absolute;
         top: -5px;
         right: 0;
      }
      &.contact {
         position: absolute;
         top: -5px;
         right: 0;
      }
      &.health {
         position: absolute;
         top: -5px;
         right: 0;
      }
   }
   .profile-module {
      box-shadow: $main-shadow;
      display: flex;
      justify-content: space-around;
      width: 90% !important;
      margin: 30px 5% 0 !important;
      padding: 18px;
      border-radius: $regular-borders;
      background: $secondary-color;
      color: $white-color !important;
      a {
         color: $secondary-color !important;
         font-size: 1rem;
      }
      .module-title {
         font-size: 1.1rem;
         font-weight: 400;
      }
      .module-ico {
         svg {
            font-size: 20px;
            margin-top: 2px;
         }
      }
   }
   .profile-edit {
      position: absolute;
      right: 20px;
      top: 0px;
      color: $deep-blue;
   }
   .profile-photo {
      background: $grey-navigation-color;
      border: 10px solid $secondary-color;
      border-radius: 50%;
      margin: 0 auto 0 auto;
      width: 135px;
      height: 135px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 50%;
      }
   }
   .profile-info {
      line-height: 1rem;
      background: rgba(#fff, .9);
      margin: 20px;
      border-radius: 5px;
      padding: 20px 10px;
      box-shadow: $main-shadow;
      position: relative;

      .fullName {
         color: $secondary-color;
         margin-top: 10px;
         margin-bottom: 20px;
         font-weight: bold;
      }
      p {
         padding: 3px;
         font-size: 18px;
         color: $black;
         font-weight: bold;
      }
   }
   .profile-section {
      font-size: 16px;
      margin: 0 20px;
      position: relative;
      .profile-section-title {
         color: $white-color;
         background-color: $secondary-color;
         font-weight: 800;
         font-size: 20px;
         padding: 10px;
         margin: 20px 0;
         text-align: center;
         border-radius: 5px;
      }
      b {
         color: $data-profile;
      }
   }
   .payment-container {
      display: flex;
      justify-content: space-between;
      background: $white-color;
      width: 90%;
      margin-left: 5%;
      border-radius: 5px;
      font-size: 0.8rem;
      padding: 10px;
      .payment-firstColumn {
         display: flex;
         flex-direction: column;
         justify-content: start;
         .payment-service {
            text-transform: uppercase;
         }
      }
      .payment-secondColumn {
         display: flex;
         flex-direction: column;
         justify-content: start;
      }
   }
   .section {
      p {
         color: $black;
         margin-bottom: 10px;
      }
      b {
         color: $black;
      }
   }
   .umaVersion {
      background: rgba(#000, .3);
      margin: 40px 0 0 0;

      p {
         padding: 0;
         margin: 0;
      }
   }
}

.form-edit-profile {
   small {
      font-weight: bold;
   }
   input {
      width: 100%;
      border: none;
      outline: none;
      box-shadow: $main-shadow;
      height: 35px;
      border-radius: 5px;
      margin-bottom: 5px;
   }
   select {
      width: 100%;
      outline: none;
      box-shadow: $main-shadow;
      height: 35px;
      border-radius: 5px;
      margin: 5px 0;
      border: none;
   }
}
