@import './global/Vars.scss';
@import './global/Fonts.scss';

.traslados-welcome-container{
    width: 100%;
    height: 100vh;
    font-family: Nunito;
    background-color: #ffffff;
    .traslados-content {
        width: 90%;
        text-align: center;
        margin-left: 5%;
        height: auto;
        padding: 20px;
        border-radius: 6px;
        margin-top: 15px;
        background-color: white;
        color: $primary-blue;
        .transport-img{
            margin-bottom: 8vh;
        }
        .h12 {            
            color:#0A6DD7;
            border-radius: nullpx;
            font-family: Nunito;
            font-size: 28px;
            font-style: normal;
            font-weight: 900;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: center;
        }
        .h32 {
            font-family: Nunito;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            /* or 133% */

            text-align: center;

            color: #1E1E1E;
        }
    }

    .search-button{ 
        display: flex;
        justify-content: center;
        position: fixed;
        width: 80%;
        padding: 12px;
        border-radius: 6px;
        bottom: 33px;
        background-color: $secondary-cyan;
        color: $white-color;
        z-index: 9;
        justify-content: center;
        border: 0;
        left: 10%;
        font-size: 20px;
    }

    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 56px;
        background-color: $primary-cyan;
        z-index: 8;
        justify-content: center;
    }
}