@import "./global/Vars.scss";

.welcome-container {
  width: 100%;
  height: 100%; 
  .welcome {
  display: flex;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 450px;
  margin: 100px auto;
  text-align: center;
  padding: 0 25px;
  border-radius: 10px;
  align-items: center;
  .welcome__titleContainer {
    margin-bottom: 30px;
    .welcome__titleContainer--title {
      font-weight: 600;
    }
  }
  .welcome__iconContainer {
    margin-bottom: 20px;
    svg {
      color: $primary-color;
      font-size: 50px;
    }
  }
  .welcome__textContainer {
    .welcome__textContainer--paragraph {
      font-size: 19px;
      padding: 0;
      .appName {
        font-size: 21;
        color: $primary-color;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
    .welcome__textContainer--message {
      font-size: 16px;
      color: rgba($color: #000000, $alpha: 0.5);
      .link {
        font-weight: bold;
      }
    }
  }
}
}