@import './global/Vars.scss';
.information__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .whatsapp {
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
        margin: auto;
        text-align: center;
        border: none;
        box-shadow: 0px 4px 50px 0px rgba(126, 147, 163, 0.25);
        padding: 5px 10px;
        position: relative;
        top: 0px;
        left: 0px;
        right: 0px;
        border-radius: 6px;

        .titleContainer {
            .titleContainer__title {
            font-weight: 900;
            font-size: 27.72px;
            color: #008290;
            line-height: 29.35px;
            margin-top: 10px;
            .hola{
                color: #36a853;
            }
        }
    }
        

  .textContainer {
    .textContainer__message {
        padding: 5px;
        margin: 0;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        width: auto;
        height: auto;
        left: auto;
        top: auto;
        display: flex;
        justify-content: center;
        color: #1E1E1E;
        margin-top: 12px;
        &:first-child {
            margin-top: 0px;
        }
        .link {
            font-weight: bold;
        }
    }
  }
  .button__instalar{
    width: 60%;
    height: 47px;
    margin: auto;
    background-color: #36a853;
    border-radius: 10px;
    color: white;
    border: none;
    font-weight: normal;
    
  }
  
}


.imgContainer__image{
    width: 150px;
    height: 160px;
    margin-top: 30px;
}
.terminos__container{
    width: 90%;
				margin: auto;
				margin-bottom: 30px;
				margin-top: 30px;
				display: flex;
				justify-content: space-evenly;
				.landingSwitchContainer {
					margin-top: 10px;
				}
				.termsText {
					text-align: left;
					margin-left: 20px;
					color: #686464;
					font-weight: bold;
					font-size: 14px;
                    line-height: 1;
                    width: 60%;
				}
}
    .phoneinput__cointainer{
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        .react-tel-input {
            input {
                width: 100%;
                padding-left: 50px;
                border: none;
                border-bottom: 1px solid #a5bacb;
                border-radius: 0;
                &:focus {
                    outline: none !important;
                    border: none !important;
                    border-bottom: 1px solid #a5bacb !important;
                }
            }
        }
    }
}
