
@import './index.scss';

.whoAttention {
    height: auto !important;
    background-color: $white-color;
    border-radius: 6px;
    width: 90%;
    margin: 64px auto 21px auto !important;
    /* padding-bottom: 42px; */
    .backButtonContainer {
        margin-top: -58px;
        margin-bottom: 54px;
        margin-left: 0;
    }
}