@import '../../../styles/index.scss';


.progressQuestions {
  max-width: 100vw;
  max-height: 45vw;
  margin-top: 0vh;
  .CircularProgressbar-path {
    stroke: $secondary-color !important;
  }
  .CircularProgressbar-text {
    fill: $primary-color !important;
  }
    progress {
      -webkit-appearance: none;
      height: 5px;
      width: 100vw;
    }
  
    ::-webkit-progress-bar {
      background-color: #fff;
    }
    
    ::-webkit-progress-value {
      background-color: cyan;
    }
  }
  