@import '../global/Vars.scss';
@import './mixins.scss';

.login {
    min-height: 100vh;
    background-color: $white-color;
    position: relative;

    .login__logo {
        width: 60px;
        position: absolute;
        left: 5px;
        top: 0;
    }

    .login__titleIllustration {
        @include d-flex-center;
        flex-direction: column;
        padding-top: 30px;
        text-align: center;
        .login__titleIllustration--illustration {
            margin-top: 20px;
        }
        .login__titleIllustration--title {
            font-size: 25px;
            font-weight: bold;
            color: $uma-primary;
            max-width: 260px;
        }
    }

    .login__lineSeparator {
        margin-top: 20px;
        text-align: center;
       &:before {
            content: "";
            display: inline-block;
            margin: 0 5px;
            width: 25%;
            height: 2px;
            background-color: $lighter-grey;
       }
       &:after {
        content: "";
        display: inline-block;
        margin: 0 5px;
        width: 25%;
        height: 2px;
        background-color: $lighter-grey;
       }
    }

    .login_invalid {
        margin: 10px auto;
        max-width: 350px;
        display: none;
        p {
            color: $uma-error;
            margin: 5px;
        }
    }

    .login__needHelp {
        @include d-flex-center;
        margin-top: 10px;
        .login__needHelp__activeSession {
            display: flex;
            align-items: center;
            .text {
                font-size: 14px;
                margin: 0 10px;
                color: $uma-text;
            }
        }
        .login__needHelp--btn {
            border: none;
            background-color: transparent;
            border-bottom: 1px solid $uma-text;
            font-size: 14px;
            margin-left: 40px;
        }
    }
    .login__actions {
        @include d-flex-center;
        flex-direction: column;
        margin: 40px 0;
        text-align: center;
        .login__actions__Registrer {
            margin: 10px 0 50px 0;
            .text {
                color: $uma-primary;
                margin: 0;
            }
            .link {
                border-bottom: 2px solid $uma-primary;
                color: $uma-primary;
                font-weight: bold;
            }
        }
    }
}
