@import '../global/Vars.scss';

#dossier-constancia {

    .dossier-date-img{
        margin-bottom: 40px;

        .uma-img {
            height: 40px;
            width: 40px;
            margin: 0;
        }

        p {
            text-align: end;
        }

    }
    .dossier-text {
        color: $text-super-dark;

        .dossier-text-diagnostico {
            margin-top: 20px;
        }

    }

    .dossier-text-emergencias {
        font-weight: bold;
        
        b {
            color: $uma-primary;
         }

    }

}