@import '../global/Vars.scss';

#constancy {
    padding: 15px 20px;

    .date-img{
        margin-bottom: 40px;

        .uma-img {
            height: 40px;
            width: 40px;
            margin: 0;
        }

        p {
            font-weight: bold;
            text-align: end;
        }

    }

    .constancy-content {
        color: $text-super-dark;
        font-weight: bold;
    }

    .diagnosis {
        margin-top: 30px;
        .constancy-diagnosis {
            margin-bottom: 5px;
        }
        .medication {
            margin-top: 30px;
            :nth-child(1) {
                margin-bottom: 5px;
            }
        }
    }

    .text-emergencias {
        font-weight: bold;
        color: $uma-primary;
        margin: 30px 0;
        :nth-child(1) {
            font-weight: normal;
            color: $text-super-dark;
        }
        :nth-child(2) {
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }

    .verify-attention {
        margin-top: 80px;
        text-align: center;
        div {
            margin: 30px 0;
        }
        p {
            margin: 5px 0;
        }
        :nth-child(3) {
            font-size: 15px;
        }
    }

    .qr-code {
        text-align: center;
        margin: 30px 0;
    }

}

.not-available {
    text-align: center;
}