@import '../../styles/global/Vars.scss';

.my-history-container {

    .title-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        p {
            margin: 0;
        }

        button {
            border: none;
            background-color: $white-color;
        }
    }

    .my-history-beneficiary {
        margin-bottom: 15px;
        text-align: center;

        .button-patient {
            border: none;
            width: 70%;
            height: 30px;
            color: white;
            font-weight: bold;
            background-color: $blue-button;
            border-radius: 5px;
        }
    }

    .no-records {
        text-align: center;
        margin: 50px;
    }

    .my-history-consultation {

        .consult-link {
            display: flex;
            align-items: center;
            .left-icon {
                margin-right: 20px;
                svg {
                    font-size: 2rem;
                }
            }

            .title-date {
                margin-top: 10px;
                .title-guardia {
                    font-size: 18px;
                    color: $text-super-dark;
                    font-weight: bold; 
                    margin: 0;
                    color: $text-super-dark;
                }
                .consult-date {
                    margin: 0;
                    color: $text-super-dark;
                }
            }
            
        }

    }

}