
@import "../index.scss";

.accessDenied {
    width: 90%;
    margin: 60px auto 0 auto;
    height: auto;
    padding: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: $white-color;
    border-radius: $regular-borders;
    .accessDenied__container {
        width: 100%;
        text-align: center;
        padding-top: 20px;
        .accessDenied__container--icon {
            font-size: 50px;
            color: $uma-primary;
        }
        .accessDenied__container--img {
            width: 75% !important;
            width: inherit;
        }
        .accessDenied__container--title {
            font-weight: 900;
            color: $uma-text-secondary;
            font-size: 28px;
            margin-top: 20px;
        }
        .accessDenied__container--text {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 15px;
            color: $uma-text-secondary
        }
    }
    .buttonActionContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 35px;
        button{
            background: #0A6DD7;
            border-radius: 5px;
            color: #ffffff;
            font-family: Nunito;
            font-size: 18px;
            font-weight: 800;
            width: 90%;
            margin-top: 20px;
            height: 47px;
            border: none;
            &:focus{
                outline: none;
            }
        }
    }
}
