.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 35px;
    button{
        background: #0A6DD7;
        border-radius: 15px;
        color: #ffffff;
        font-family: Nunito;
        font-size: 18px;
        font-weight: 800;
        width: 75%;
        height: 47px;
        border: none;
        &:focus{
            outline: none;
        }
    }
}