@import '../index.scss';

.customFooterBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 52px;
	z-index: 8;
	.customFooterBtn__container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;
		bottom: 26px;
		.customFooterBtn__container--btn {
			font-size: 22px;
			z-index: 9;
			font-weight: 600;
			border-radius: $regular-borders;
			color: $white-color;
			padding: $btn-general-padding;
			width: $btn-general-width;
			height: 60px;
			outline: none;
			border: none;
		}
	}

	/* footer bg-colors */
	&.footer-primary {
		background-color: $white-color;
	}
	button.footer-primary {
		background-color: $uma-primary;
	}
	&.footer-success {
		background-color: $green-high;
	}
	button.footer-success {
		background-color: $green-high;
	}
	&.footer-warning {
		background-color: $secondary-orange;
	}
	button.footer-warning {
		background-color: $yellow-opaque;
	}
	.footer-disabled {
		background-color: $inactive-primary;
	}
	/* footer bg-colors */
}
