  
@import '../index.scss';

/* MODULES CONTAINER */
.modules-container {
  @include wrapper(
      $margin: 20px auto,
      $width: 95%, 
      $height: auto, 
      $background-color: inherit
  );

  .card{
      width: 95%;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      border: none;
      overflow-x: hidden;
      border-radius: 6px;
      box-shadow: 0px 4px 24px #E6E6E6;

      &.length3 .module-button {
         width: 33.33%;

         &:nth-child(2) {
            border-left: 2px solid #DBE9F2;
            border-right: 2px solid #DBE9F2;
         }
      }

      &.length4 .module-button {
         width: 50%;

         &:nth-child(2) {
            border-left: 1px solid #DBE9F2;
         }

         &:nth-child(3) {
            border-top: 1px solid #DBE9F2;
         }

         &:last-child {
            border-top: 1px solid #DBE9F2;
            border-left: 1px solid #DBE9F2;
         }
      }

    .module-button {
      padding: 1.5rem;
      background-color: $white-color;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      .module-name {
         color: $text-color;
         img{
            width: 100%;
            height: auto;
         }
         a {
            color: $primary-color;
         }

         .module-ico {
            line-height: 1.2;
            font-size: 2rem;
            color: $deep-blue-new;
            margin-bottom: 14px;

            img {
               width: 30px;
            }
         }
   
         .module-title {
            font-size: 14px;
            margin: 0;
            padding: 0;
            font-weight: 700;
            height: auto;
            line-height: 1.5;
            color: $text-super-dark;
            min-height: 42px;
            display: flex;
            align-items: center;
         }
      }

      &:first-child {
         .module-ico {
            img {
               width: 45px;
            }
         }
      }

      &:nth-child(2) {
         .module-ico {
            img {
               width: 37px;
            }
         }
      }

      &:nth-child(3) {
         .module-ico {
            img {
               width: 30px;
            }
         }
      }
   }

   .lang-text {
      color: $water-blue;
      padding: 0 11px;
      margin-left: 20px;
   }
   .disabled-module {
      background: $inactive-primary !important;
      .module-ico {
         color: $inactive-secondary !important;
      }
      .module-title {
         color: $inactive-secondary !important;
      }
   }
  }

}

.needhelp__btn {
   display: flex;
   justify-content: center;
   width: 90%;
   margin: 0 auto 20px;
   background: $uma-accent-color;
   border-radius: 15px;
   padding: 0.7rem;
   border: none;
   font-weight: 800;
   color: $white-color;
   font-size: 18px;

   img {
      margin-right: 10px;
   }
}