.redirect__container{
    .redirect__container--img{
        display: flex;
        justify-content: center;
        height: 50vh;
    }
    .redirect__container--text{
        background-color: white;
        margin: auto;
        width: 85%;
        height: auto;
        box-shadow: 0px 4px 50px rgba(126, 147, 163, 0.25);
        border-radius: 6px;
        font-size: 14px;
        color: #686464;
        padding: 15px;
    }
}