@import '../index.scss';

.formulario__title{
   display: flex;
   justify-content: flex-end;
   width: 556px;
   font-weight: 900;
   font-size: 24px;
   color: #008290;
   margin-top: 20px;
}
.register__container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   
   h3 {
      display: none;
   }
   @media (min-width:768px) and (max-width: 1440px){
      width: 100%;
      padding: 0 20%;
      h3 {
         display: block;
         &.register_form--title{
            width: 100%;
            height: 25px;
            left: 233px;
            top: 145px;
            color: #008290;
            font-weight: 900;
            font-size: 24px;
            line-height: 0.9%;
            border-bottom: 0.2rem solid #008290;
            margin-top: 30px;
         }
      }
   }
   .register-form {
      margin-top: 16px;
      width: 100%;
      // text-align: center;
      .form-label {
         margin-bottom: 5px;
         font-size: 0.9rem;
         color: $gray-font;
         width: 100%;
      }
      .addressLabel,
      .sexLabel,
      .birthLabel {
         margin-top: 12px;
      }
      .sexLabel,
      .birthLabel {
         margin-bottom: 0px;
      }
      .sexLabel {
         visibility: hidden;
      }
      select {
         width: 150px;
         height: 50px !important;
         box-shadow: 0px 4px 50px rgba(126, 147, 163, 0.25);
         border-radius: 6px;
      }
      .inputsContainer {
         display: flex;
         justify-content: space-between;
         width: 100%;
         margin-left: auto;
         margin-right: auto;
         input {
            width: 42px;
            height: 50px !important;
            box-shadow: 0px 4px 50px rgba(126, 147, 163, 0.25);
            border-radius: 6px;
         }
         input:last-child {
            width: 58px;
            height: 50px !important;
            box-shadow: 0px 4px 50px rgba(126, 147, 163, 0.25);
            border-radius: 6px;
         }
         input:focus{
            outline: none;
         }
      }
      input,
      input::placeholder,
      select {
         margin: 6px 0 8px 0;
         color: $lighter-grey !important;
      }
      input {
         padding: 1rem;
         width: 100%;
         height: 50px;
         border: 0;
         box-shadow: 0px 4px 50px rgba(126, 147, 163, 0.25);
         border-radius: 6px;
      }
      select {
         border: 0;
      }
      small {
         color: $blue-button;
      }
      .enabled {
         margin-left: 20px;
         height: 32px;
         .react-switch-bg {
            background-color: #0A6DD7 !important;
         }
         .react-switch-handle{
            width: 23px;
            height: 23px;
         }
      }
      .disabled {
         margin-left: 20px;
         height: 32px;
         background-color: none !important;
         .react-switch-bg {
            background-color: $lighter-grey !important;
         }
      }
      .form-mid-input {
         border-radius: $regular-borders;
         padding: 0.5rem;
         width: 150px;
         background-color: $white-color;
         
         &::-webkit-outer-spin-button,
         &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
         }
         
         /* Firefox */
         -moz-appearance: textfield;
      }
      .form__midInput--year{
         width:58px !important;
      }

      .sendButtonStyles {
         background-color: #0A6DD7;
         color: $white-color;
         border-radius: 15px;
         width: 308px ;
         font-size: 1.2rem;
         font-weight: 600;
         height: 47px;
         margin: 25px 0 15px 0;
         border: none;
      }
      .sendButtonStyles:focus{
         outline: none;
      }
      .registerContainerProps {
         width: 90%;
         margin: 10px auto 20px auto;
         input,
         select {
            width: 100%;
            border: 0 !important;
         }
         label:first-child() {
            margin-top: 12px;
         }
      }
      .form-label {
         margin-top: 15px;
         margin-bottom: 10px;
      }
      .text__terminosYcondiciones{
         font-size: 12px;
         font-weight: 400;
         line-height: 16.37px;
         color: #1E1E1E;
      }
   }
   .form__spanWrapper{
      width: 90%;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
      @media (min-width:768px) and (max-width: 1440px){
        margin: 0 1%;
        width: 48%;
      }
   }
   .text-right{
      display: flex;
      justify-content: center;
   }
      
   .switch__container {
      display: flex;
      margin-top: 20px;
      @media (min-width:768px) and (max-width: 1440px){
         justify-content: flex-end;
         align-items: center;
         .switchChangeWrapper {
            width: 45px;
            margin-left: -5px;
         }
      }
   } 
}
.form__validation--error{
   color: #D80000;
   font-weight: 600;
   font-size: 12px;
}
.label__absolute{
   position: absolute;
   margin-top: 65px;
}

.link_to_login{
   margin-left: 1vw;
}