
@import '../index.scss';
.subheader-container {
  margin-bottom: 0 !important;
}
.wrapperUserActive {
  .modalContainer {
    .comments {
      height: 200px;
    }
    .buttonContainer {
      width: 100%;
      margin-top: 20px;
      .cancelReason {
        background-color: $secondary-color;
        border: none;
        color: $white-color;
        font-weight: bold;
        font-size: 18px;
        width: 100%;
        padding: 15px;
      }
    }
  }
  .transportUserActive {
    padding-bottom: 25vh;
    .transportList {
      width: 100%;
      margin: 20px auto 15px;
      height: auto;
      top: 104px;
      bottom: 0;
      // overflow: scroll;
      .buttonDisplay{
        display:flex;
        justify-content: space-evenly;
        font-size: 14px;
        position:relative;
        bottom:10px;
        .active{
          border-bottom: 3px solid purple;
          color:$uma-primary;
          font-weight: bold;
        }
      button{
        border:none;
        outline: none;
        background:none;
        color: rgba(128, 128, 128, 0.349);
       	transition:none;
      }
      }
      
      .backButtonContainer {
        width: 100%;
        line-height: 0;
        padding: 0 10px;
      }
      li {
        margin-bottom: 10px;
        .titleContainer {
					padding: 8px;
					background-color: white;
					border-top: 4px solid #c4c4cc;
          margin:10px;
          font-size:14px;
          .transportTitle {
            width: 50%;
            color: $uma-primary;
            padding:5px;
           margin:5px;
           border-right: 1px solid rgba(128, 128, 128, 0.349);
           div{
             margin:5px;
           }
          }
          
        }
        .contentContainer {
          box-shadow: $main-shadow;
          padding: 10px;
          margin-bottom:20px;
          background-color: $white-color;
          color: $text-light;
          border-radius: $regular-borders;
          color:black;
          width:80%;
          position:relative;
          left:50%;
          transform: translateX(-50%);
          .destiny,
          .origin {
						margin-bottom: 15px;
						.originTitle {
							font-weight: bold;
							margin:0;
							margin-bottom:5px;
							color:black;
						}
						.originContent{
							border:1px solid rgba(128, 128, 128, 0.349);
							padding:5px;
						}
						.destinyTitle{
							font-weight: bold;
							margin:0;
							margin-bottom:5px;
							color:black;
						}
						.destinyContent{
							border:1px solid rgba(128, 128, 128, 0.349);
							padding:5px;
						}
          }
          button {
            width: 100%;
            box-shadow: $main-shadow;
            height: 42px;
            background-color: $red-high;
            color: $white-color;
            font-size: 18px;
						font-weight: bold;
						border: none;
						outline: none;
						border-radius: 40px;
					}
					.checkStatus {
						background-color: $uma-primary;
						margin-bottom: 10px;
					}
        }
      }
    }
    .historyList {
      width: 100%;
      height: auto;
      top: 189px;
      bottom: 0;
      position: fixed;
      padding: 10px;
      overflow: scroll;
      li {
        .historyTitle {
          padding: 10px;
          min-height: 70px;
          border-radius: 10px;
          box-shadow: 0px 2px 7px rgba(132, 132, 132, 0.25);
          margin-bottom: 13px;
          width: 100%;
          color: $text-light;
          span {
            font-weight: bold;
          }
        }
      }
    }
    .noTransfers {
      text-align: center;
      padding: 20px;
      background-color: $white-color;
      border-radius: 6px;
      .noTransfers__container {
        margin: 90px 0 40px 0;
        .trasladoTitle {
          font-weight: 900;
          color: $secondary-color;
          font-size: 28px;
          margin-top: 20px;
        }
        h4 {
          margin-top: 12px;
          color: $text-dark;
          font-size: 18px;
          margin-bottom: 72px;
        }
        .noTransfers__container--icon {
          width: 55px;
          height: 55px;
          color: $primary-color;
        }
      }
      .noTransfers__container:nth-child(2) {
        margin-top: 50px;
      } 
      .customFooterBtn {
        left: 0;
      }
    }
  }
}

.createNewService__container { 
  position: fixed;
	right: 25px;
	bottom: 30px;
  color: white;
  font-weight: bolder;
  display: flex;
  align-items: center;
  background:white;
  border-radius: 50%;
  .createNewService__icon {
    font-size: 5rem;
    color: white;
    background: $uma-primary;
		padding: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
		align-items: center;
  }
}
.openContent{
  display:flex;
  align-items: center;
  justify-content: center;
  button{
    margin-top:-10px;
    border:none;
    outline: none;
    background: none;
    font-weight: bold;
    margin-bottom:5px;
    &:focus{
      outline: none;
    }
  }
}
.transportDriver{
  width:50%;
  text-align: start;
  div{
    margin:5px;
  }
}
.pendingTitle{
  margin:8px;
  margin-left:5%;
}
