
@import '../index.scss';

.subheader-container {
  margin-bottom: 0 !important;
}
.wrapperUserActive {
  .modalContainer {
    .comments {
      height: 200px;
    }
    .buttonContainer {
      width: 100%;
      margin-top: 20px;
      .cancelReason {
        background-color: $secondary-color;
        border: none;
        color: $white-color;
        font-weight: bold;
        font-size: 18px;
        width: 100%;
        padding: 15px;
      }
    }
  }
  .transportUserActive {
		padding-bottom: 25vh;
    .transportList {
      width: 90%;
      margin: 20px auto 15px;
      height: auto;
      top: 104px;
      bottom: 0;
      overflow: scroll;
      .backButtonContainer {
        width: 100%;
        line-height: 0;
        padding: 0 10px;
      }
      li {
        margin-bottom: 10px;
        .titleContainer {
          box-shadow: $main-shadow;
          padding: 10px;
          background-color: $secondary-color;
          border-radius: $regular-borders;
          margin-bottom: 10px;
          .transportTitle {
            width: 80%;
            color: $white-color;
            padding-left: 2px;
            padding-right: 10px;
            span {
              font-weight: bold;
            }
          }
          .openContent {
            width: 20%;
            button {
              border-radius: 50%;
              border: 0;
              width: 40px;
              height: 40px;
              line-height: 1.2;
              background-color: $white-color;
              color: $secondary-color;
              font-size: 30px;
							float: right;
							&:focus{
								outline: none;
							}
            }
          }
        }
        .contentContainer {
          box-shadow: $main-shadow;
          padding: 20px;
          background-color: $white-color;
          color: $text-light;
          border-radius: $regular-borders;
          .destiny,
          .origin {
            margin-bottom: 15px;
            span {
              font-weight: bold;
            }
          }
          button {
            width: 100%;
            box-shadow: $main-shadow;
            height: 42px;
            background-color: $red-high;
            color: $white-color;
            font-size: 18px;
						font-weight: bold;
						border: none;
						outline: none;
						border-radius: $regular-borders;
					}
					.checkStatus {
						background-color: $green-high;
						margin-bottom: 10px;
					}
        }
      }
    }
    .historyList {
      width: 100%;
      height: auto;
      top: 189px;
      bottom: 0;
      position: fixed;
      padding: 10px;
      overflow: scroll;
      li {
        .historyTitle {
          padding: 10px;
          min-height: 70px;
          border-radius: 10px;
          box-shadow: 0px 2px 7px rgba(132, 132, 132, 0.25);
          margin-bottom: 13px;
          width: 100%;
          color: $text-light;
          span {
            font-weight: bold;
          }
        }
      }
    }
    .noTransfers {
      text-align: center;
      padding: 20px;
      background-color: $white-color;
      border-radius: 6px;
      .noTransfers__container {
        margin: 90px 0 40px 0;
        .trasladoTitle {
          font-weight: 900;
          color: $secondary-color;
          font-size: 28px;
          margin-top: 20px;
        }
        h4 {
          margin-top: 12px;
          color: $text-dark;
          font-size: 18px;
          margin-bottom: 72px;
        }
        .noTransfers__container--icon {
          width: 55px;
          height: 55px;
          color: $primary-color;
        }
      }
      .noTransfers__container:nth-child(2) {
        margin-top: 50px;
      } 
      .customFooterBtn {
        left: 0;
      }
    }
  }
}

.createNewService__container { 
  position: fixed;
	left: 25px;
	bottom: 100px;
  color: white;
  font-weight: bolder;
  display: flex;
	align-items: center;
  .createNewService__icon {
		font-size: 1.8rem;
    background: $primary-color;
    padding: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
		align-items: center;
  }
}