
@import '../index.scss';

.subheader-container {
  margin-bottom: 0 !important;
}
.wrapperUserActive {
  .modalContainer {
    .comments {
      height: 200px;
    }
    .buttonContainer {
      width: 100%;
      margin-top: 20px;
      .cancelReason {
        background-color: $secondary-color;
        border: none;
        color: $white-color;
        font-weight: bold;
        font-size: 18px;
        width: 100%;
        padding: 15px;
      }
    }
  }
  .transportUserActive {
    padding-bottom: 25vh;
    
    .transportList {
      width: 98%;
      margin: 20px auto 15px;
      height: auto;
      top: 104px;
      bottom: 0;
      // overflow: scroll;
      .buttonDisplay{
        display:flex;
        justify-content: space-around;
        margin-bottom:5px;
        .active{
          background: rgb(95, 95, 226);
          border:1px solid white;
        }
      button{
        border:none;
        outline: none;
        background: blue;
        border-radius: 10px;
        color:white;
       width: 6rem;
       transition:none;
       
      }
      }
      
      .backButtonContainer {
        width: 100%;
        line-height: 0;
        padding: 0 10px;
      }
      li {
        margin-bottom: 10px;
        .titleContainer {
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.514);
          padding: 8px;
          background-color: white;
          border:1px solid rgba(128, 128, 128, 0.349);
          border-left: 8px solid rgba(128, 128, 128, 0.349);
          
          .transportTitle {
            width: 50%;
            color: rgb(95, 95, 226);
            padding:5px;
           margin:5px;
           div{
             margin:5px
           }
           
            
          }
          
        }
        .contentContainer {
          box-shadow: $main-shadow;
          padding: 20px;
          background-color: $white-color;
          color: $text-light;
          border-radius: $regular-borders;
          color:black;
          .destiny,
          .origin {
            margin-bottom: 15px;
            .originTitle {
              font-weight: bold;
              margin:0;
              margin-bottom:5px;
              color:black;
            }
          .originContent{
            border:1px solid rgba(128, 128, 128, 0.349);
            padding:5px;
          }
          .destinyTitle{
            font-weight: bold;
            margin:0;
            margin-bottom:5px;
            color:black;
          }
          .destinyContent{
            border:1px solid rgba(128, 128, 128, 0.349);
            padding:5px;
          }



          }
          button {
            width: 100%;
            box-shadow: $main-shadow;
            height: 42px;
            background-color: $red-high;
            color: $white-color;
            font-size: 18px;
						font-weight: bold;
						border: none;
						outline: none;
						border-radius: 40px;
					}
					.checkStatus {
						background-color: $green-high;
						margin-bottom: 10px;
					}
        }
      }
    }
    .historyList {
      width: 100%;
      height: auto;
      top: 189px;
      bottom: 0;
      position: fixed;
      padding: 10px;
      overflow: scroll;
      li {
        .historyTitle {
          padding: 10px;
          min-height: 70px;
          border-radius: 10px;
          box-shadow: 0px 2px 7px rgba(132, 132, 132, 0.25);
          margin-bottom: 13px;
          width: 100%;
          color: $text-light;
          span {
            font-weight: bold;
          }
        }
      }
    }
    .noTransfers {
      text-align: center;
      padding: 20px;
      background-color: $white-color;
      border-radius: 6px;
      .noTransfers__container {
        margin: 90px 0 40px 0;
        .trasladoTitle {
          font-weight: 900;
          color: $secondary-color;
          font-size: 28px;
          margin-top: 20px;
        }
        h4 {
          margin-top: 12px;
          color: $text-dark;
          font-size: 18px;
          margin-bottom: 72px;
        }
        .noTransfers__container--icon {
          width: 55px;
          height: 55px;
          color: $primary-color;
        }
      }
      .noTransfers__container:nth-child(2) {
        margin-top: 50px;
      } 
      .customFooterBtn {
        left: 0;
      }
    }
  }
}

.createNewService__container { 
  position: fixed;
	left: 25px;
	bottom: 100px;
  color: white;
  font-weight: bolder;
  display: flex;
	align-items: center;
  .createNewService__icon {
		font-size: 1.8rem;
    background: $primary-color;
    padding: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
		align-items: center;
  }
}
.openContent{
  display:flex;
  align-items: center;
  justify-content: center;
  button{
    border:none;
    outline: none;
    background: none;
    font-weight: bold;
  }
}
.transportDriver{
  width:50%;
  text-align: start;
  div{
    margin:5px;
  }
}