@import '../global/Fonts.scss';
@import '../global/Vars.scss';

.vaccine {
    font-family: Nunito, sans-serif;
    background: #fff;
    height: calc(100vh - 45px);
    position: relative;
    top: -5px;

    * {
        box-sizing: border-box;
    }

    .vaccineContainer {
        width: 90%;
        margin: auto;
        padding: 2rem 0;

        .vaccineIllustration {
            width: 50%;
            display: block;
            margin: 20px auto;
        }

        .vaccineIllustrationCheck {
            width: 30%;
            margin: 2rem auto;
            display: block;
        }
        
        .vaccineTitle {
            font-weight: 900;
            margin: 0;
            font-size: 1.8rem;
            color: $uma-primary;
            line-height: 2.5rem;
            text-align: center;
        }

        .vaccineText {
            text-align: center;
            color: $uma-text;
            margin: 0.8rem 0;
            font-size: 1rem;
            line-height: 1.5rem;
        }

        .vaccineBtns {
            margin-top: 2.5em;
            display: flex;
            justify-content: space-around;
            align-items: center;
    
            .vaccineBtn {
                width: 40%;
                border: 0.1rem solid $uma-primary;
                background: none;
                padding: 0.5rem 1rem;
                border-radius: 1.5rem;
                font-weight: 800;
                font-size: 1rem;
                line-height: 1.5rem;
                text-transform: uppercase;
    
                &.vaccineReject {
                    color: $uma-primary;
                }
    
                &.vaccineConfirm {
                    color: $white-color;
                    background: $uma-primary;
                }
            }
        }
        .vaccineReportProblem{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            color: $uma-primary;
            width: 100%;
            align-items: center;
            margin-top: 50px;
        }

        .vaccineLink {
            font-size: 1rem;
            margin-top: 3rem;
            display: block;
            text-align: center;
            font-weight: 600;
            text-decoration: underline;
            color: $uma-primary;
        }
    }
    

    .vaccineOverlay {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .vaccineModal {
            background: $white-color;
            border-radius: 0.5rem;
            padding: 1.5rem;
            width: 90%;

            .vaccineModalTitle {
                color: $uma-text;
                font-size: 1rem;
                text-align: center;
                width: 80%;
                margin: 0 auto 0.7rem;
            }

            .vaccineModalText {
                color: $uma-text;
                font-size: 1rem;
                text-align: center;
            }

            .vaccineModalNote {
                color: $uma-text;
                font-size: 1rem;
                text-align: center;
                font-weight: 600;
                width: 80%;
                margin: 0 auto 2rem;
            }

            .vaccineModalBtns {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .vaccineModalBtn {
                    width: 45%;
                    border: 0.1rem solid $uma-primary;
                    background: none;
                    padding: 0.5rem 1rem;
                    border-radius: 1.5rem;
                    font-weight: 800;
                    font-size: 1rem;
        
                    &.vaccineModalCancel {
                        border: none;
                        background: none;
                        color: $uma-text-secondary;
                        font-weight: 500;
                    }
        
                    &.vaccineModalConfirm {
                        color: $white-color;
                        background: $uma-primary;
                    }
                }
            }
        }
    }
}