@import '../index.scss';

.deliveryResume {
	position: fixed;
	bottom: 52px;
	left: 0;
	width: 100%;
	background-color: #fff;
	margin: 20px auto 0 auto;
	border-radius: $regular-borders;
	padding: 20px 20px 40px;
	.deliveryResume__container {
		display: flex;
		flex-direction: column;
		.deliveryResume__container--title {
			font-weight: bold;
		}
		.deliveryResume__container--list {
			font-size: 0.9rem;
		}
		.deliveryResume__container--item {
			font-weight: bold;
		}
	}
}
