@import '../index.scss';

.trackProgress {
	width: 100%;
	height: auto;

	.header-container {
		.contentWrapper {
			box-shadow: 0px 2px 5px rgba(199, 199, 199, 0.14);
		}
	}
	
	.trackProgress__container {
		width: 100%;
		margin: 0 auto;

			.trackProgress__container--item {
				display: flex;
				align-items: center;
				margin-bottom: 24px;

				@media screen and (max-width: 320px) {
					margin-bottom: 10px;
				}
				
				.trackProgress__container--step {
					width: 20px;
					font-size: 30px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: auto;
					svg {
						color: $deep-blue;
					}
				}

				.trackProgress__container--text {
					font-size: 12px;
					width: 69px;
					line-height: 15px;
					color: #000;

					@media screen and (max-width: 320px) {
						font-size: 10px;
					}
				}

				.accomplished {
					.progress__step {
						background-color: $deep-blue;
					}
					.progress__description {
						color: $gray-font;
					}
				}
			}
		}
	.trackProgress__container {
		.trackProgress__content {
			width: 100%;
			height: calc(100vh - 52px);
			
			.laboratory__container {
				border-radius: $regular-borders;
				width: 90%;
				background: $white-color;
				margin: 90px auto 0 auto;
				padding: 20px;

				.laboratory__header {
					color: $deep-blue;
					font-size: 1.2rem;
					font-weight: bold;
					text-transform: uppercase;
					text-align: center;
				}

				.laboratory__description {
					text-align: left;
					color: $gray-font;
				}

				.laboratory__image {
					text-align: center;
					margin: 20px;

					img {
						height: 100px;
					}
				}

				.laboratory__readmore {
					margin-top: 20px;
					text-align: right;
					color: $blue-button;
				}
			}
		}
	}
	.progressBar {
		position: absolute;
		top: 50px;
		background-color: $white-color;
		padding: 20px 10px;
		border-radius: $regular-borders;
		height: auto;
		width: 100px;
		margin: 20px;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media screen and (max-width: 320px) {
			padding: 10px;
		}

		.trackProgress__container--percent {
			width: 100%;

			.trackProgress__container--chevron {
				color: $deep-blue;
				font-weight: bold;
				position: relative;
				left: 10px;
			}

			.trackProgress__container--current {
				position: absolute;
				left: 70px;
				top: 0;
				width: calc(100vw - 80px - 30px);
				padding: 23px 20px 20px 20px;
				background: #fff;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
				color: $deep-blue;
				font-weight: bold;
				font-size: 14px;

				@media screen and (max-width: 320px) {
					padding: 13px 10px 10px 10px;
				}
			}

			.RSPBprogressBar {
				flex-direction: column;
				width: 10px;
				height: 100%;
				margin-top: 20px;

				@media screen and (max-width: 320px) {
					margin-top: 5px;
				}

				.RSPBstep {
					position: static;
					width: 80px;
					margin-left: 149px;
					text-align: center;
				}
			}

			&.p8 {
				.RSPBprogressBar {
					.RSPBprogression {
						width: 10px !important;
						height: 8%;
					}
				}
			}

			&.p23 {
				.RSPBprogressBar {
					.RSPBprogression {
						width: 10px !important;
						height: 23%;
					}
				}
			}

			&.p37 {
				.RSPBprogressBar {
					.RSPBprogression {
						width: 10px !important;
						height: 37%;
					}
				}
			}

			&.p50 {
				.RSPBprogressBar {
					.RSPBprogression {
						width: 10px !important;
						height: 50%;
					}
				}
			}

			&.p62 {
				.RSPBprogressBar {
					.RSPBprogression {
						width: 10px !important;
						height: 62%;
					}
				}
			}

			&.p77 {
				.RSPBprogressBar {
					.RSPBprogression {
						width: 10px !important;
						height: 77%;
					}
				}
			}

			&.p100 {
				.RSPBprogressBar {
					.RSPBprogression {
						width: 10px !important;
						height: 100%;
					}
				}
			}
		}
	}
}

.trackProgress__container {
	background: $white-color;

	.tracking__photo {
		display: block;
		max-width: 80%;
		margin: auto;
	}

	.tracking__titleContainer {
		text-align: center;
		padding: 0 3rem;

		.tracking__title {
			font-weight: 900;
			font-size: 24px;
			line-height: 1.6;
			color: #0A6DD7;
		}

		.tracking__subtitle {
			font-weight: 600;
			font-size: 18px;
			line-height: 24px;
			color: #1E1E1E;

			.tracking__subtitle-bold {
				font-weight: 900;
			}
		}
	}

	.tracking__indicaciones {
		width: 90%;
		margin: 30px auto 0;
		box-shadow: 0px -2px 20px rgba(126, 147, 163, 0.15);
		border-radius: 6px;
		padding: 24px;

		.tracking__indicacionesTitle {
			font-weight: 800;
			font-size: 18px;
			line-height: 22px;
			color: #1E1E1E;
			margin-bottom: 16px;
		}

		.tracking__indicacionesList {
			list-style: disc;
			color: #1E1E1E;
			font-size: 15px;
			line-height: 22px;

			.tracking__indicacionesListItem {
				list-style: disc inside;
				margin-bottom: 0.5rem;
			}
		}
	}

	.tracking_buttons {
		.tracking__btn-info {
			border: none;
			background: none;
			text-align: center;
			display: block;
			width: 100%;
			text-decoration: underline;
			margin-top: 20px;
		}

		.tracking__btn {
			border-radius: 15px;
			padding: 10px;
			border: none;
			text-align: center;
			font-weight: 800;
			font-size: 18px;
			line-height: 25px;
			width: 80%;
			color: #fff;
			display: block;
			margin: 20px auto;

			&.tracking__btn-continue {
				background-color: #0A6DD7;
			}

			&.tracking__btn-cancel {
				background-color: #D80000;
			}
		}

	}

	.tracking__stepper {
		padding: 3rem 0;
		width: 90%;
		margin: auto;

		.tracking__stepperTitle {
			font-weight: 900;
			font-size: 28px;
			line-height: 1.1;
			text-align: center;
			color: #0A6DD7;
			margin-bottom: 40px;
		}

		.tracking__stepperBar {
			padding: 0;
		}
	}
}