@import '../index.scss';

.trackProgress {
	width: 100%;
	height: auto;

	.header-container {
		.contentWrapper {
			box-shadow: 0px 2px 5px rgba(199, 199, 199, 0.14);
		}
	}

	.trackProgress__container {
		background: $white-color;
		
		.trackProgress__content {
			width: 100%;
			height: calc(100vh - 52px);
		}

		.tracking__photo {
			display: block;
			max-width: 80%;
			margin: auto;
		}

		.tracking__titleContainer {
			text-align: center;
			padding: 0 3rem;

			.tracking__title {
				font-weight: 900;
				font-size: 24px;
				line-height: 1.6;
				color: $uma-primary;
			}

			.tracking__subtitle {
				font-weight: 600;
				font-size: 18px;
				line-height: 24px;
				color: $uma-text;

				.tracking__subtitle-bold {
					font-weight: 900;
				}
			}
		}

		.tracking__indicaciones {
			width: 90%;
			margin: 30px auto 0;
			box-shadow: 0px -2px 20px rgba(126, 147, 163, 0.15);
			border-radius: 6px;
			padding: 24px;

			.tracking__indicacionesTitle {
				font-weight: 800;
				font-size: 18px;
				line-height: 22px;
				color: $uma-text;
				margin-bottom: 16px;
			}

			.tracking__indicacionesList {
				list-style: disc;
				color: $uma-text;
				font-size: 15px;
				line-height: 22px;

				.tracking__indicacionesListItem {
					list-style: disc inside;
					margin-bottom: 0.5rem;
				}
			}
		}

		.tracking_buttons {
			.tracking__btn-info {
				border: none;
				background: none;
				text-align: center;
				display: block;
				width: 100%;
				text-decoration: underline;
				margin-top: 20px;
			}

			.tracking__btn {
				border-radius: 15px;
				padding: 10px;
				border: none;
				text-align: center;
				font-weight: 800;
				font-size: 18px;
				line-height: 25px;
				width: 80%;
				color: #fff;
				display: block;
				margin: 20px auto;

				&.tracking__btn-continue {
					background-color: $uma-primary;
				}

				&.tracking__btn-cancel {
					background-color: #D80000;
				}
			}

		}

		.tracking__stepper {
			padding: 3rem 0 2rem;
			width: 90%;
			margin: auto;
		}

		.tracking__stepperTitle {
			font-weight: 900;
			font-size: 28px;
			line-height: 1.1;
			text-align: center;
			color: $uma-primary;
			margin-bottom: 30px;
		}

		#progressBar {	
			.RSPBprogressBar {
				height: 320px;
				width: 3px;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				background: $correct-disabled;

				@media screen and (min-width: 321px) {
					height: 300px;
				}

				.RSPBstep {
					position: relative;
					transform: none !important;
					width: 300px;

					@media screen and (max-width: 320px) {
						width: 250px;
					}

					.trackProgress__container--step {
						display: flex;
						align-items: center;
						width: 100%;

						&.accomplished {
							svg {
								color: $correct;
							}
						}

						svg {
							font-size: 20px;
							min-width: 20px;
							position: relative;
							left: -8px;
							color: $correct-disabled;
							background: $white-color;
							border-radius: 50%;
						}
					}

					&:nth-child(3) {
						.trackProgress__container--step {
							svg {
								left: -11px;
							}
						}
					}

					&:nth-child(4) {
						.trackProgress__container--step {
							svg {
								left: -11px;
							}
						}
					}

					.trackProgress__container--text {
						position: relative;
						left: 20px;
						opacity: 0.4;

						h3 {
							font-size: 16px;
							line-height: 1.5;
							font-weight: 600;
							color: $uma-text;
						}

						p {
							font-size: 16px;
							line-height: 1.3;
							color: $uma-text-secondary;

							span {
								font-weight: 600;
							}
						}
					}
				}
				
				.RSPBprogression {
					background: $correct !important;
					width: 100% !important;
				}	
			}

			&.fill_25 {
				.RSPBprogression {
					background: $correct !important;
					width: 100% !important;
					height: 14%;
				}	
				.RSPBstep:first-child .trackProgress__container--text{
					opacity: 1;
				}
			}

			&.fill_50 {
				.RSPBprogression {
					background: $correct !important;
					width: 100% !important;
					height: 35%;

					@media screen and (min-width: 321px) {
						height: 38%;
					}
				}	
				.RSPBstep:first-child .trackProgress__container--text, 
				.RSPBstep:nth-child(2) .trackProgress__container--text{
					opacity: 1;
				}
			}

			&.fill_75 {
				.RSPBprogression {
					background: $correct !important;
					width: 100% !important;
					height: 53%;

					@media screen and (min-width: 321px) {
						height: 60%;
					}
				}	
				.RSPBstep:first-child .trackProgress__container--text, 
				.RSPBstep:nth-child(2) .trackProgress__container--text, 
				.RSPBstep:nth-child(3) .trackProgress__container--text{
					opacity: 1;
				}
			}

			&.fill_100 {
				.RSPBprogression {
					background: $correct !important;
					width: 100% !important;
					height: 100%;
				}	
				.RSPBstep:first-child .trackProgress__container--text, 
				.RSPBstep:nth-child(2) .trackProgress__container--text, 
				.RSPBstep:nth-child(3) .trackProgress__container--text, 
				.RSPBstep:last-child .trackProgress__container--text{
					opacity: 1;
				}
			}
		}

		.stepper__containerMap {
			position: absolute;
			left: 0;
			top: 52px;
			background: $white-color;
			width: 100%;
			height: 200px;
			overflow: hidden;
			border-radius: 0 0 50px 50px;
			box-shadow: 0px 9px 20px -3px rgba(126, 147, 163, 0.25);
			padding: 2rem 5%;
			transition: height 0.5s;
			display: flex;
			justify-content: center;

			.stepper__containerContent {
				height: 100%;
				width: 90%;
				overflow-y: scroll;
				overflow-x: hidden;
				padding: 0 5vw;
			}

			&.fullOpen {
				@media screen and (max-width: 320px) {
					height: calc(95vh - 52px);
				}

				@media screen and (min-width: 321px) {
					height: calc(85vh - 52px);
				}

				@media screen and (min-width: 400px) {
					height: calc(85vh - 52px);
				}
			}

			&.showBtn {
				height: calc(100vh - 52px);
				border-radius: 0;
			}

			&:not(.fullOpen) {
				.tracking__stepperBar {
					top: 50px;
				}
			}

			&.showIndications {
				.tracking__indications {
					height: auto;
				}

				&.mediumOpen {
					height: 320px;
				}
			}

			.stepper__toggle {
				position: absolute;
				bottom: 0;
				left: 0;
				border: none;
				width: 100%;
				text-align: center;
				margin-top: 20px;
				font-size: 1.5rem;
				background: none;
				color: $uma-text-secondary;
				outline: none;
			}

			.stepper__btn {
				width: 100%;
				border: none;
				background: $uma-primary;
				border-radius: 15px;
				padding: 10px;
				color: $white-color;
				font-size: 18px;
				font-weight: 800;
				line-height: 1.3;
				margin-top: 20px;
			}

			.tracking__indications {
				box-shadow: 0px -2px 20px rgba(126, 147, 163, 0.15);
				padding: 20px 10px;
				margin-bottom: 20px;
				height: 60px;
				overflow-y: hidden;
				transition: height 0.5s;

				.tracking__indicationsToggle {
					width: 100%;
					border: none;
					background: none;
					display: flex;
					justify-content: space-between;
					color: $uma-text;
					font-size: 14px;
					font-weight: 800;
					line-height: 1.3;
					outline: none;

					svg {
						color: $uma-input;
					}
				}

				.tracking__indicationsList {
					margin-top: 16px;

					.tracking__indicationsListItem {
						font-size: 14px;
						color: $uma-text;
						line-height: 1.5;
						list-style: disc inside;
					}
				}
			}
		}
	}
}