@import '../../styles/global/Vars.scss';

*{
    font-family: 'Nunito', helvetica !important;
}

.testDiabetes__main{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        h1{
            text-align: center;
            font-size: 2rem;
        }

        img{   
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%; 
            margin-bottom: 10%;
        }

        .testDiabetes__header{
            display: flex;
            flex-direction: column;
            background-color: $uma-primary;
            margin-bottom: 5%;

            h1{
                text-align: center;
                color: white;
                margin-top: 1rem;
                font-size: 25px;
                font-weight: 700;
            }

            img{
                align-self: center;
                width: 70px;
                height: auto;
            }
        }

        .testDiabetes__form{
            background-color: $uma-primary !important;
        }


    span{
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
    }



    .testDiabetes__button{
        display: flex;
        justify-content: center;
        margin-top: 2%;
        
        button {
                background: #0A6DD7;
                margin: 5vw;
                font-weight: bolder;
                font-size: 1rem;
                color: #FFFFFF;
                border-radius: 8px;
                padding: 5px;
                width: 150px;
                height: 45px;
                border: none;

        

        &:hover {
            background: #0556ad;
        }
    }
    }

    .diabetes__TermsAndConditions{

        padding: 2%;

        h1{
            font-size: 1.4rem;
            text-align: center;
            margin-bottom: 5%;
        }
        p{
            font-size: 1rem;
            text-align: center;
            margin-bottom: 5%;
        }
        img{   
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%; 
            margin-bottom: 5%;
        }
        .diabetes__TermsAndConditionsButtons{
            display: flex;
            justify-content: center;
            button{
                background: #0A6DD7;
                margin: 5vw;
                font-weight: bolder;
                font-size: 1rem;
                color: #FFFFFF;
                border-radius: 8px;
                padding: 5px;
                width: 120px;
                height: 45px;
                border: none;
            }
        }
    }
}

.testDiabetes__loader{
    display: flex;
}

*{
    font-family: 'Nunito', sans-serif;
}
.indications{
    margin: 2vh;
    text-align: center;
}

input{
    width: 120px;
    text-align-last: center;
    background: $uma-primary;
    margin-top: 10px;
    padding: 3px 3px 3px 3px;
    min-height: 31px;
    border: none;
    border-radius: 25px;
    border-bottom: 2px solid #0a6dd7;
    transition: transform 0.3s linear;
    font-size: 18px;
    font-weight: 800;
    color: white;
    &:focus {
        outline: none;
        border-bottom: 2px solid #0A6dd7;
    }
}
select{
    background: $uma-primary;
    margin-top: 10px;
    width: 80px;
    padding: 3px 3px 3px 3px;
    min-height: 31px;
    border: none;
    border-radius: 25px;
    border-bottom: 2px solid #0a6dd7;
    transition: transform 0.3s linear;
    font-size: 18px;
    color: white;
    font-weight: 800;
    &:focus {
        outline: none;
        border-bottom: 2px solid #0A6dd7;
    }

    option{
        font-size: 10px;
        width: 10px;
        font-weight: 600;
    }
}
img{
    max-width: 50vw;
}

.diabetes{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    .question_diabetes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 15vh;
        margin-top: 5%;
        .inputContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1vh; 
            label{
                margin-bottom: 0.5vh;
            }
            select{
                width: 30vw;
                text-align-last: center;
                font-size: 15px;
            }
        }
        .diabetesForm__buttons{
            button{
                background: $uma-primary;
                margin: 5vw;
                font-weight: bolder;
                font-size: 1rem;
                color:white;
                border: 2px solid $uma-primary;
                border-radius: 10%;
                padding: 5px;
                width: 120px;
                height: 45px;
                margin-bottom: 5%;
            }

            .button1{
                background: $uma-secondary;
                color: white;
                border: none;
            }
        }
    }
}
.contenedor-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .contenedor-btn-reproducir{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 20vh;
        width: 82vw;
        background: #FFFFFF;
        box-shadow: 0px 1px 14px rgba(126, 147, 163, 0.25);
        border-radius: 6px;
        .title-video{
            text-align: center;
            padding: 6vw;
        }
    }
}
.thank_you{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    div{
        margin-bottom: 2vh;
        .deleteLink{
            color: red;
            text-decoration: underline;
        }
    }
}
.instructionsContainer{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
    margin-bottom: 12vh;
    width: 100vw;
    .imagesContainer{
        margin-bottom: 6vh;
        img{
            margin: 2vw;
            max-width: 35vw;
        }
    }
}