@import '../../styles/global/Vars.scss';

*{
    font-family: 'Nunito', helvetica !important;

}

.testDiabetes__main{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        h1{
            text-align: center;
            font-size: 2rem;
        }

        h2{
            font-size: 1.2rem;
            // margin-top: 10%;
            // margin-bottom: 12%;
            font-weight: 600;
        }
        img{   
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%; 
            // margin-bottom: 10%;
        }

        .testDiabetes__header{
            display: flex;
            flex-direction: column;
            background-color: $uma-primary;
            margin-bottom: 5%;

            h1{
                text-align: center;
                color: white;
                margin-top: 1rem;
                font-size: 25px;
                font-weight: 700;
            }

            img{
                align-self: center;
                width: 70px;
                height: auto;
            }
        }

        .testDiabetes__form{
            background-color: $uma-primary !important;
        }


    span{
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
    }



    .testDiabetes__button{
        display: flex;
        justify-content: center;
        margin-top: 2%;
        
        button {
                background: #0A6DD7;
                margin: 5vw;
                font-weight: bolder;
                font-size: 1rem;
                color: #FFFFFF;
                border-radius: 8px;
                padding: 5px;
                width: 150px;
                border: none;
                height: 65px;

        

        &:hover {
            background: #0556ad;
        }
    }
    .button1{
        background: $uma-secondary;
    }
    }

    .diabetes__TermsAndConditions{

        padding: 2%;

        h1{
            font-size: 1.4rem;
            text-align: center;
            margin-bottom: 5%;
        }
        p{
            font-size: 1rem;
            text-align: center;
            margin-bottom: 5%;
        }
        img{   
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%; 
            margin-bottom: 5%;
        }
        .diabetes__TermsAndConditionsButtons{
            display: flex;
            justify-content: center;
            button{
                background: #0A6DD7;
                margin: 5vw;
                font-weight: bolder;
                font-size: 1rem;
                color: #FFFFFF;
                border-radius: 8px;
                padding: 5px;
                width: 120px;
                height: 45px;
                border: none;
            }
        }
    }

}

.testDiabetes__loader{
    display: flex;
}


.indications{
    margin: 2vh;
    text-align: center;
}

input{
    width: 120px;
    text-align-last: center;
    background: $uma-primary;
    margin-top: 10px;
    padding: 3px 3px 3px 3px;
    min-height: 31px;
    border: none;
    border-radius: 25px;
    border-bottom: 2px solid #0a6dd7;
    transition: transform 0.3s linear;
    font-size: 18px;
    font-weight: 800;
    color: white;
    &:focus {
        outline: none;
        border-bottom: 2px solid #0A6dd7;
    }
}
select{
    background: $uma-primary;
    margin-top: 10px;
    width: 80px;
    padding: 3px 3px 3px 3px;
    min-height: 31px;
    border: none;
    border-radius: 25px;
    border-bottom: 2px solid #0a6dd7;
    transition: transform 0.3s linear;
    font-size: 18px;
    color: white;
    font-weight: 800;
    &:focus {
        outline: none;
        border-bottom: 2px solid #0A6dd7;
    }



    option{
        font-size: 15px;
        width: 100px;
        font-weight: 600;
    }
}
img{
    max-width: 50vw;
}
.testDiabetes__resultCard{
    // background: violet;
    display: grid;
    grid-template-columns: 40% 40%;
    height: auto;
    justify-content: center;
    text-align:center;
    margin-top: 15%;
    grid-gap: 10%;

    h1{
        font-size: 1.7rem;
    }

    .resultCard__firstCol{
        grid-column: 1;
        justify-content: center;
        align-content: center;
        // margin: auto;

        .circle{
            display: flex;
            flex-direction: column;
            min-height: 110px;
            width: 100%;
            border-radius: 50%;
            background: $uma-primary; 
            justify-content: center;
            margin-bottom: 3%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


            span{
                font-size: 22px;
                color:white;

            }
        }
    }
    .resultCard__secondCol{
        grid-column: 2;
        justify-content: center;
        align-content: center;
        // margin: auto;
        
        .circle{
            display: flex;
            flex-direction: column;
            min-height: 110px;
            width: 100%;
            border-radius: 50%;
            background: $uma-primary; 
            justify-content: center;
            margin-bottom: 3%;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            
               span{
                font-size: 26px;
                color: white;
            }
        }        
    }
    
}

.diabetes{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;

    .question_diabetes{
        display: grid;
        flex-direction: column;
        grid-template-columns: 45% 45%;
        grid-gap: 5%;
        align-items: center;
        justify-content: center;
        // height: 15vh;
        // margin-top: 5%;
        .inputContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1vh; 
            label{
                font-size: 0.9rem;
                margin-bottom: 0.5vh;
            }
            select{
                width: 40vw;
                text-align-last: center;
                font-size: 15px;
            }
}
        .diabetesForm__buttons{

            display: flex;
            justify-content: space-evenly;
            grid-column: 1/3;

            button{
                background: $uma-primary;
                margin: 3vw;
                font-weight: bolder;
                font-size: 1rem;
                color:white;
                border: 2px solid $uma-primary;
                border-radius: 25px;
                padding: 5px;
                width: 150px;
                height: 40px;
                margin-bottom: 5%;
                margin-top: 15%;
                
            }

            .button1{
                background: $uma-secondary;
                color: white;
                border: none;
                grid-column: 1/2;
            }
        }
    }
}
.contenedor-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .contenedor-btn-reproducir{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 20vh;
        width: 82vw;
        background: #FFFFFF;
        box-shadow: 0px 1px 14px rgba(126, 147, 163, 0.25);
        border-radius: 6px;
        .title-video{
            text-align: center;
            padding: 6vw;
        }
    }
}
.thank_you{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    div{
        margin-bottom: 2vh;
        .deleteLink{
            color: red;
            text-decoration: underline;
        }
    }
}
.instructionsContainer{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
    margin-bottom: 12vh;
    width: 100vw;
    .imagesContainer{
        margin-bottom: 6vh;
        img{
            margin: 2vw;
            max-width: 35vw;
        }
    }
}

