@import "../../styles/global/Vars.scss";

.payment-container{
  background-color: $white-color;
  height: 100vh;
.flecha-pay {
  font-size: 2rem;
  color: $white-color;
  position: absolute;
  margin: 20px 0 0 20px;
}

.tarjeta-credito {
  margin-top: 3vh;
  
  // clase de la libreria
  .rccs__card--unknown > div {
    background: rgba(#64D6D3, .8);
    box-shadow: 0px 7px 20px rgba(138, 138, 138, 0.24);
    color: #000;
  }

  .titulo-card {
    margin: 0 0 10px 0;
    font-weight: bold;
    text-align: center;
    color: #686464;
  }  
}

.formulario-credito {
  margin: 0px 10px;
  padding: 20px 20px 0 20px;
  border-radius: 6px;
  small {
    font-weight: bold;
    font-size: 15px;
    color: grey;
    background-color: $white-color;
    width: fit-content;
    margin-left: 5vw;
    position: relative;
    top: 2vh;
    display: block;
    padding: 0 1vw;
    margin-bottom: 3px;
  }
  input {
    outline: none;
    border: 2px solid rgba(138, 138, 138, 0.24);
    height: 6vh;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: $white-color !important;
  }
  input:focus{
    background-color: $white-color !important;
  }

  .formulario-item {
    input {
      width: 100%;
    }
  }

  .formulario-vencimiento {
    display: flex;
    .cardExpiration {
      display: flex;
      flex-direction: row;
    }
    input {
      width: 80%;
    }
  }
}

.paypal--payment{
  height: fit-content !important;
  .payment-title{
    text-align: center;
  }
}
.payment-button{
  position: fixed;
  width: 100vw;
  height: 12vh;
  left: 0;
  border: none;
  bottom: -3vh;
  color: $white-color;
  background: $uma-primary;
  border-radius: 20px;
  .button-text{
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: $white-color;
  }
}
}