@import '../global/Vars.scss';
@import '../mixins/ButtonGeneral.scss';

.antecedents__container {
    min-height: 90vh;
    width: 100%;
    background-color: $white-color;
    position: relative;
    .antecedents__container__generic {
        // padding-top: 40px;
        .progressBar {
            width: 10%;
            height: 3px;
            background-color: $uma-primary;
            transition: 0.2s linear;
            &.allergies {
                width: 20%;
            }
            &.operations {
                width: 40%;
            }
            &.fracture {
                width: 60%;
            }
            &.otherconditions {
                width: 80%;
            }
            &.familybackground {
                width: 90%;
            }
        }
        .mainText {
            margin: 0 auto;
            width: 90%;
            text-align: center;
            h1 {
                margin-top: 20px;
                font-size: 24px;
                color: $uma-primary;
                font-weight: bold;
            }
            h2 {
                font-weight: 500;
                font-size: 18px;
                color: $uma-text;
                margin: 20px 0;
            }
        }
        .contentQuestionnaire {
            margin: 0 auto;
            width: 90%;
            min-height: 70vh;
            position: relative;
            h3 {
                font-size: 18px;
                color: $uma-text;
                font-weight: 600;
            }
            .line {
                width: 90%;
                margin: 10px auto;
                height: 1px;
                background-color: $lighter-grey;
            }
            .other__condition {
                color: $uma-text-secondary;
            }
            .other__input {
                width: 100%;
                border-radius: $regular-borders;
                border: 1px solid $uma-primary;
                box-shadow: $main-shadow;
                padding: 5px ;
                &:focus {
                    outline: transparent;
                    border: 1px solid $uma-primary;
                }
            }
            .questionGroup {
                margin: 20px 0;
                width: 100%;
                height: fit-content;
                position: relative;
                .question {
                    color: $uma-text-secondary;
                }
                .answers {
                    display: flex;
                    justify-content: space-between;
                    .buttonAnswer {
                        width: 46%;
                        border-radius: 5px;
                        background-color: $white-color;
                        border: transparent;
                        box-shadow: $dark-shadow;
                        padding: 6px 0;
                        &.focused {
                            background-color: $uma-primary;
                            color: $white-color;
                        }
                    }

                    .other__allergy { //seccion alergias
                        width: 285px;
                        border-radius: $regular-borders;
                        border: 1px solid $uma-primary;
                        box-shadow: $main-shadow;
                        padding: 5px 0;
                        &:focus {
                            outline: transparent;
                            border: 1px solid $uma-primary;
                        }
                    }
                    .other__allergy__btn {
                        border: transparent;
                        border-radius: $regular-borders;
                        background-color: $uma-primary;
                        color: $white-color;
                        font-size: 16px;
                        font-weight: bold;
                        padding: 0 15px;
                    }
                }
                label {
                    margin-top: 5px;
                }
                select {
                    border: transparent;
                    width: 100%;
                    padding: 8px 0;
                    border-radius: $regular-borders;
                    background-color: $white-color;
                    box-shadow: $dark-shadow;
                    color: $uma-text;
                    overflow: scroll;
                    &:focus {
                        outline: transparent;
                        border: 1px solid $uma-primary;
                    }
                }

                .operationQuestions { //seccion operaciones
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .group { 
                        margin: 10px 0;
                        label {
                            color: $uma-text-secondary;
                        }
                        input {
                            color: $uma-text;
                            width: 100%;
                            border-radius: $regular-borders;
                            border: 1px solid $uma-primary;
                            padding: 5px;
                            &:focus {
                                outline: transparent;
                            }
                        }
                    }
                }
            }
            .addForm {
                width: 100%;
                text-align: center;
                .addGroup {
                    margin: 0;
                    border: none;
                    background-color: $uma-primary;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    svg {
                        color: $white-color;
                    }
                }
                .text {
                    font-size: 16px;
                    color: $uma-primary;
                    font-weight: 600;
                }
            }
            .buttonNext {
                border: transparent;
                background-color: $text-light;
                color: $white-color;
                font-weight: bold;
                border-radius: 15px;
                padding: 10px 0;
                width: 100%;
                position: absolute;
                bottom: 50px;
                &:focus {
                    outline: transparent;
                }
                &.next {
                    background-color: $uma-primary;
                    color: $white-color;
                }
            }
        }
    }
    .action__buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 40px 0;
        button {
            border: none;
            border-radius: $regular-borders;
            height: 45px;
            width: 100px;
            font-weight: bold;
        }
        .btnBackwards {
            background-color: $white-color;
            border: 1px solid $uma-primary;
            color: $uma-primary;
        }
        .btnNext {
            background-color: $uma-input;
            color: $white-color;
            &.foward {
                background-color: $uma-primary;
                color: $white-color;
            }
        }
    }

    .allergies__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .showAllergies {
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 5px 15px;
            margin: 5px 0;
            border-radius: $regular-borders;
            background-color: $light-blue;
            color: $white-color;
            .allergy__name {
                margin: 0;
                padding: 0 8px 0 0;
                font-weight: bold;
            }
            .allergy__delete {
                border: transparent;
                background-color: transparent;
                font-weight: bold;
                color: $white-color;
                padding: 0;
                font-size:  18px;
                &:focus {
                    outline: transparent;
    
                }
            }
        }
    }

    .questionFamilyGroup {
        display: flex;
        margin: 20px 0;
        .options {
            width: 100%;
            &.hyper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            margin: 0 5px;
            label {
                color: $uma-text;
            }
            select {
                border-radius: 5px;
                border: 1px solid $uma-primary;
                padding: 10px 10px;
                background-color: $white-color;
                &:focus {
                    outline: transparent;
                }
            }
        }
    }
}

.mobile-modal {
    &.isWellness {
        margin: 0;
    }
}
